$color-main: white;
$color-header: salmon;
$color-navbar: lightblue;


element:hover, element:active {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-user-select: none;
-webkit-touch-callout: none
}

body {
  background: $color-main;
}
header {
  padding: .1em;
  width: 100%;
  text-align: center;
  font-size: 6vw;
}
footer {
  text-align: center;
  background: black;
  padding: .5em;
  padding-top: 1em;
  color: white;
  width: 100%;
}
ul {
  padding: inherit;
}
li {
  display: block;
  list-style-type: none;
}
a {
  font-size: 5vw;
  justify-content: center;
  display: inline;
  margin: .15em;
}
a:hover {
  color: orange;
}

p {
  font-size: 4vw;
}
.header-section-style {
  height: 10em;
}
.footer-icon {
  margin-top: .15em;
  width: 2em;
}
.footer-icon:hover {
  color: lightblue;
}
.portfolio-icon {
  width: 5em;
}
.portfolio-image {
  width: 100%;
}
.navbar-icon {
  font-size: 7vw;
  color: white;
  justify-content: center;
  display: inline;
  margin: .15em;
}
.JavaScriptHero {
  width: 100%;
  height: 0%;
}
.name {
  font-size: 2em;
  color: white;
  border: solid .05em white;
  margin: .1em;
  padding: .1em;
}
.skills-icon {
  background: $color-main;
  text-align: center;
  padding: .5em;
}
.dashboard-container {
  text-align: center;
}
.portfolio-container {
  padding: .5em;
}
.about-container {
  padding: .5em;
}
.angular {
  width: 3.5em;
}
.west-of-the-rockies {
  width: 100%;
  border: solid .1em black;
}
.campfire {
  width: 100%;
  border: solid .1em black;
}
.wattle {
  width: 100%;
  border: solid .1em black;
  margin-top: .5em;
}
.coming-soon {
  width: 100%;
  height: 50vw;
  border: .15em solid black;
  background: grey;
}
.ron-profile {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}
.iframe {
  width: 100%;
}



@media all and (min-width: 700px) {
    h1 {
        font-size: 4em;
    }
    img {
      width: 5em;
    }
    header {
      font-size: 3vw;
      margin-bottom: 2em;
    }
    footer {
      height: 15vw;
      font-size: 3vw;
      padding-bottom: 2em;
      margin-top: 4em;
    }
    a {
      font-size: 2em;
      display: inline;
    }
    li {
      display: inline;
    }
    .angular {
      width: 6em;
    }
    .footer-icon {
      width: 1em;
    }
    .navbar-icon {
      font-size: 5vw;
    }
    .iframe {
      height: 50vw;
    }
    .coming-soon, .west-of-the-rockies, .portfolio-image, .campfire, .wattle {
      width: 70%;
    }

}



@media all and (min-width: 1024px) {
    header {
      height: 2em;
    }
    p {
      font-size: 1.5vw;
    }
    h1 {
      font-size: 4vw;
    }
    img {
      margin: .15em;
    }
    footer {
      padding-top: .5em;
      padding: 0em;
    }
    a:hover {
      color: orange;
    }
    .header-section-style {
      height: 5em;
    }
    .app {
      margin-left: 20%;
      margin-right: 20%;
      align-items: center;
    }
    .footer-icon {
      width: .75em;
    }
    .footer-icon:hover {
      background: lightblue;
      border-radius: .1em;
    }
    .navbar-icon {
      font-size: 1vw;
      float: left;
      margin-left: 1em;
    }
    .navbar-icon:hover {
      color: orange;
    }
    .name {
      float: left;
      font-size: 1em;
      border: 0;
    }
    .west-of-the-rockies, .portfolio-image, .wattle {
      width: 30%;
    }
    .coming-soon {
      width: 30%;
      height: 10vw;
    }
    .ron-profile {
      width: 70%;
    }
}
