$color-main: beige;
$color-header: salmon;
$color-navbar: lightblue;

body {
    background: $color-main;
}
header {
  width: 100%;
  background: $color-header;
  text-align: center;
  font-size: 6vw;
}
nav {
  display: flex;
  background: $color-navbar;
}
li {
  font-size: 6vw;
  display: inline;
  list-style-type: none;
  margin: .25em;
}
