$color-main: white;
$color-header: salmon;
$color-navbar: lightblue;

body {
  background: $color-main;
}
header {
  padding: .1em;
  width: 100%;
  text-align: center;
  font-size: 6vw;
}
ul {
  padding: inherit;
}
li {
  display: inline-block;
  list-style-type: none;
}
a {
  font-size: 6vw;
  background-color: white;
  display: inline-block;
  margin: .05em;
  padding: inherit;
  border: solid .15em white;
  justify-content: center;
}
p {
  font-size: 7vw;
}
.contact-icon {
  width: 4em;
}
.portfolio-icon {
  width: 5em;
}
.JavaScriptHero {
  width: 100%;
  height: 0%;
}
.name {
  font-size: 2em;
  color: white;
  border: solid .05em white;
  margin: .1em;
  padding: .1em;
}
.navbar-icon {
  color: white;
  font-size: 5vw;
  display: inline-block;
  background-color: white;
  margin: .1em;
  padding: .15em;
  text-decoration: none;
  border: solid .01em white;
}
.skills-icon {
  background: yellow;
}
